@using AlbertCollection.Application.GlobalData;
@inherits CultureComponentBase
@inject MasaBlazor MasaBlazor
@inject GlobalDeviceData GlobalDeviceData

<MCard Class="mx-auto my-12" MaxWidth="300">
    <ProgressContent>
        <MProgressLinear Color="deep-purple" Height="10" Indeterminate />
    </ProgressContent>

    <ChildContent>
        <MCardTitle>@DeviceSeq?.SeqName</MCardTitle>

        <MCardText>
            <div style="padding-bottom:8px">
                <div>@("上升沿地址 "+DeviceSeq?.RisingEdge)</div>
                <div>@("片段功能   "+DeviceSeq?.SqlOperate.ToString())</div>
                <div>@("片段数据   "+DeviceSeq?.SqlTable)</div>
            </div>
             
            <MExpansionPanels>
                <MExpansionPanel>
                        <MExpansionPanelHeader>
                            读地址块详情
                        </MExpansionPanelHeader>
                        <MExpansionPanelContent>
                            <ul>
                            @if (DeviceSeq?.ReadData != null)
                            {
                                @foreach (var item in DeviceSeq?.ReadData)
                                {
                                    <li>@item.SqlColumnName - @item.TypeAndDb</li>
                                }
                            }
                        </ul>
                        </MExpansionPanelContent>
                    </MExpansionPanel>
                    <MExpansionPanel>
                    <MExpansionPanelHeader>
                        写地址块详情
                    </MExpansionPanelHeader>
                    <MExpansionPanelContent>
                        <ul>
                            @if (DeviceSeq?.WriteData != null)
                            {
                                @foreach (var item in DeviceSeq?.WriteData)
                                {
                                    <li>@item.SqlColumnName - @item.TypeAndDb</li>
                                }
                            }
                        </ul>
                    </MExpansionPanelContent>
                    </MExpansionPanel>
                    <MExpansionPanel>
                    <MExpansionPanelHeader>
                        更新地址块详情
                    </MExpansionPanelHeader>
                    <MExpansionPanelContent>
                        <ul>
                            @if (DeviceSeq?.UpdateData != null)
                            {
                                @foreach (var item in DeviceSeq?.UpdateData)
                                {
                                    <li>@item.SqlColumnName - @item.TypeAndDb</li>
                                }
                            }
                        </ul>
                    </MExpansionPanelContent>
                        </MExpansionPanel>
            </MExpansionPanels>
        </MCardText>
        <MDivider Class="mx-4"></MDivider>
        <MCardTitle>运行状态</MCardTitle>
        <MCardText>
            <MButton Color="green" OnClick="StartCollect" Disabled="@DeviceSeq.IsOpen"><MIcon>mdi-clock-start</MIcon></MButton>
            <MButton Color="red" OnClick="StopCollect" Disabled="@(!DeviceSeq.IsOpen)"> <MIcon>mdi-stop</MIcon></MButton>
        </MCardText>
    </ChildContent>
</MCard>



